body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    --naranja: #d9832e;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header {
    height: 80%;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    top: 0%;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
}

a {
    font-weight: bold;
    color: var(--naranja);
    text-decoration-color: var(--naranja);
}

a:hover {
    color: rgb(122, 65, 45);
}

a:visited {
    color: grey;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaedf2;
}

#imgs {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto;
    column-gap: 50px;
    row-gap: 50px;
}

#imgs img {
    height: 200px;
    width: 250px;
    border-radius: 10%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #111111;
    color: #828283;
    padding-top: 20px;
    padding-bottom: 20px;
}

#copyright {
    text-align: end;
}

@media screen and (max-width: 300px) {
    header {
        padding: 0;
    }

    nav {
        flex-direction: column;
        gap: 3px;
    }

    footer {
        position: unset;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 200px) and (max-width: 340px) {

    #imgs {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        column-gap: 50px;
    }

    #imgs img {
        height: 160px;
        width: 160px;
        border-radius: 10%;
    }

}



@media screen and (min-width: 340px) and (max-width: 540px) {
    #imgs {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        column-gap: 50px;
    }

    #imgs img {
        height: 150px;
        width: 150px;
        border-radius: 10%;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
    #imgs {
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: auto auto;
        column-gap: 50px;
        row-gap: 50px;
    }

    #imgs img {
        height: 150px;
        width: 200px;
        border-radius: 10%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1030px) {
    #imgs {
        display: grid;
        grid-template-columns: 35% 35% 35%;
        grid-template-rows: auto auto auto;
        column-gap: 50px;
        row-gap: 50px;
    }

    #imgs img {
        height: 200px;
        width: 200px;
        border-radius: 10%;
    }
}