body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    --naranja: #d9832e;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header {
    height: 80%;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    top: 0%;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
}

a {
    font-weight: bold;
    color: var(--naranja);
    text-decoration-color: var(--naranja);
}

a:hover {
    color: rgb(122, 65, 45);
}

a:visited {
    color: grey;
}

#contenedor img {
    width: 80%;
}

#contenedor {
    width: 80%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
}

footer {
    background-color: #111111;
    color: #828283;
    padding-top: 20px;
    padding-bottom: 20px;
}

#copyright {
    text-align: end;
}

ul {
    list-style-type: none;
}

li::before {
    content: "\279C";
}

#primera-letra::first-letter {
    font-size: 25px;
}

p[class~="contenido"] {
    text-decoration: underline;
}

@media screen and (max-width: 350px) {
    header {
        padding: 0;
    }

    nav {
        flex-direction: column;
        gap: 3px;
    }

    footer {
        position: unset;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
}